* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: #F5F5F5;
}

.container {
    width: 1188px;
    height: 1000px;
    margin: auto;
    /* background-color: blueviolet; */
}


.header-baner {
    width: 100%;
    height: 60px;
    background-color: blue;
}

.header-menu {
    width: 100%;
    height: 24px;
    /* background-color: red; */
}

.footer-baner {
    width: 100%;
    height: 80px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.footer-baner .container .footer-baner-content {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
}

.logo {
    width: 200px;
    height: 40px;
}

.logo img {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* flex: 1; */
    width: 600px;
    height: 45px;
    position: relative;
    background-color: #EFF0F5;
    border: none;
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%); */
    border-radius: 4px;
    /* margin-bottom: 24px; */
}

.search-box:focus-within {
    border: 1px solid #049bc9; 
    box-shadow: none;
    outline: #30598c;
}

.search-box input[type="search"] {
    width: calc(100% - 24px); 
    height: 100%;
    border: none;
    padding: 0 8px; 
    font-size: 12px;
    background-color: transparent;
    outline: none;
}

.search-box input[type="search"]::placeholder {
    color: #8e8585; 
}

.search-icon {
    width: 45px;
    height: 45px;
    background-color:#F57224;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 300;
    border: none;
    outline: none;
    
}



.footer-right #lazada-cart {
      font-size: 36px;
}

.bank-img {
    width: 188px;
    height: 45px;
}

.bank-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.main-menu {
    width: 100%;
    height: 344px;
    background-color:#EFF0F5;
}

.main-menu .container {
    display: flex;

}

.left-menu {
    width: 200px;
    height: 344px;
    background-color: white;
    position: relative;
}

.big-baner {
    width: auto;
    height: 344px;
    background-color: white;
    flex: 1;
}

.big-baner img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.menu-item{
    width: 200px;
    list-style: none;
    background-color: white;
    /* color:white; */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; */

}

.menu-item a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
    padding: 6px 8px;
    
}

.menu-item a i {
    color: white;
    float: right;
    margin-right: 5px;
}

#menu-level1 .menu-item:hover {
    background-color: #eceff1;;
    color: #f36d00
}

#menu-level1>.menu-item:hover>a {
   
    color: #f36d00
}

#menu-level1>.menu-item:hover>a>i {
   
    color: #f36d00
}



#menu-level2 .menu-item:hover {
    background-color: #eceff1;;
    color: #f36d00
}

#menu-level2>.menu-item:hover>a {
   
    color: #f36d00
}

#menu-level2>.menu-item:hover>a>i {
   
    color: #f36d00
}


#menu-level3 .menu-item:hover {
    background-color: #eceff1;;
    color: #f36d00
}

#menu-level3>.menu-item:hover>a {
   
    color: #f36d00
}





#menu-level1 {
    position: absolute;
    top:0px;
    left: 0px;
}

#menu-level2 {
    position: absolute;
    top:0px;
    left: 200px;
    display: none;
}

#menu-level1 .menu-item:hover #menu-level2 {
    display: block;
}

#menu-level3 {
    position: absolute;
    top:0px;
    left: 200px;
    display: none;
}

#menu-level2 .menu-item:hover #menu-level3 {
    display: block;
}



